<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.planb.dao.BookMapper">

    <insert id="addBook" parameterType="com.planb.entity.Book">
        <!-- 新增图书 -->
        INSERT INTO book (ISBN, author, title, publication_date, stock, reservation_count, status, image, is_deleted)
        VALUES (#{ISBN}, #{author}, #{title}, #{publicationDate}, #{stock}, 0, '1', #{image}, '0')
    </insert>

    <update id="update" parameterType="com.planb.entity.Book">
        <!-- 根据id修改图书 -->
        UPDATE book
        SET ISBN = #{ISBN}, author = #{author}, title = #{title},
        publication_date = #{publicationDate}, stock = #{stock}, image = #{image},status = #{status},
        reservation_count = #{reservationCount} , is_deleted = #{isDeleted}
        WHERE book_id = #{bookId}
    </update>

    <select id="getById" parameterType="java.lang.Integer" resultType="com.planb.entity.Book">
        <!-- 根据id查询图书 -->
        SELECT * FROM book WHERE book_id = #{id}
    </select>

    <select id="selectBooksByConditions" parameterType="java.util.Map" resultType="com.planb.entity.Book">
        <!-- 根据条件查询图书 -->
        SELECT * FROM book
        <where>
            <if test="title != null and title != ''">
                title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="author != null and author != ''">
                AND author LIKE CONCAT('%', #{author}, '%')
            </if>
            <if test="ISBN != null and ISBN != ''">
                AND ISBN LIKE CONCAT('%', #{ISBN}, '%')
            </if>
            <if test="isDeleted != null">
                AND is_deleted = #{isDeleted}
            </if>
        </where>
    </select>
</mapper>

